# Identificación de datos faltantes
## y sustitución de los mismos
### Preprocesamiento de los datos
En este cuaderno se va a explorar las formas de preprocesar los datos para imputar los valores nulos.

In [1]:
import shutil
import os
import pandas as pd
import warnings
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

warnings.filterwarnings('ignore')

In [2]:
lista_zonas = ['MAGDALENA_MEDIO']
path = '../datos/separados_por_estacion/'

In [9]:
for zona in lista_zonas:
    print('Zona:',zona)
    path_zone = path+zona

    shutil.rmtree(f'../datos/imputados/{zona}/', ignore_errors=True)
    path_output = f'../datos/imputados/{zona}/'
    os.makedirs(path_output)

    for file in os.listdir(path_zone):
        print('Archivo:',file)
        col = file.split('.')[0]

        file_path = path_zone + '/' + file
        df = pd.read_csv(file_path, sep=',')

        print(df.head(5))

        # Buscar columnas con valores nulos
        col_null = df.columns[df.isnull().any()].tolist()
        print('Columnas con valores nulos:',col_null)

        # Reemplazar valores nulos por -99999
        df.fillna(-99999, inplace=True)

        # Guardar archivo
        df.to_csv(path_output+col+'.csv', index=False)

Zona: MAGDALENA_MEDIO
Archivo: 23010020.csv
        Fecha       Mes   Año  23010020
0  2000-01-01   January  2000     141.0
1  2000-02-01  February  2000     318.0
2  2000-03-01     March  2000     325.0
3  2000-04-01     April  2000     256.0
4  2000-05-01       May  2000     328.0
Columnas con valores nulos: ['23010020']
Archivo: 23010080.csv
        Fecha       Mes   Año  23010080
0  2000-01-01   January  2000      25.0
1  2000-02-01  February  2000     100.0
2  2000-03-01     March  2000      89.0
3  2000-04-01     April  2000     137.0
4  2000-05-01       May  2000     172.0
Columnas con valores nulos: ['23010080']
Archivo: 23020080.csv
        Fecha       Mes   Año  23020080
0  2000-01-01   January  2000     255.4
1  2000-02-01  February  2000     441.7
2  2000-03-01     March  2000     334.3
3  2000-04-01     April  2000     300.9
4  2000-05-01       May  2000     301.4
Columnas con valores nulos: ['23020080']
Archivo: 23020090.csv
        Fecha       Mes   Año  23020090
0  2000-01-01   January  2000      98.0
1  2000-02-01  February  2000     165.0
2  2000-03-01     March  2000     157.0
3  2000-04-01     April  2000     173.0
4  2000-05-01       May  2000     278.0
Columnas con valores nulos: ['23020090']
Archivo: 23020100.csv
        Fecha       Mes   Año  23020100
0  2000-01-01   January  2000     245.8
1  2000-02-01  February  2000     244.9
2  2000-03-01     March  2000     189.2
3  2000-04-01     April  2000     440.7
4  2000-05-01       May  2000     362.0
Columnas con valores nulos: ['23020100']
Archivo: 23025040.csv
        Fecha       Mes   Año  23025040
0  2000-01-01   January  2000     201.4
1  2000-02-01  February  2000     264.1
2  2000-03-01     March  2000     168.8
3  2000-04-01     April  2000     539.2
4  2000-05-01       May  2000     363.9
Columnas con valores nulos: []
Archivo: 23040070.csv
        Fecha       Mes   Año  23040070
0  2000-01-01   January  2000     621.2
1  2000-02-01  February  2000     467.8
2  2000-03-01     March  2000     680.3
3  2000-04-01     April  2000     698.0
4  2000-05-01       May  2000     787.9
Columnas con valores nulos: ['23040070']
Archivo: 23050080.csv
        Fecha       Mes   Año  23050080
0  2000-01-01   January  2000     235.0
1  2000-02-01  February  2000     347.0
2  2000-03-01     March  2000     451.0
3  2000-04-01     April  2000     237.0
4  2000-05-01       May  2000     297.0
Columnas con valores nulos: ['23050080']
Archivo: 23050100.csv
        Fecha       Mes   Año  23050100
0  2000-01-01   January  2000      25.0
1  2000-02-01  February  2000     290.7
2  2000-03-01     March  2000     191.5
3  2000-04-01     April  2000     301.6
4  2000-05-01       May  2000     363.4
Columnas con valores nulos: ['23050100']
Archivo: 23050230.csv
        Fecha       Mes   Año  23050230
0  2000-01-01   January  2000     132.2
1  2000-02-01  February  2000     346.0
2  2000-03-01     March  2000     423.0
3  2000-04-01     April  2000     265.9
4  2000-05-01       May  2000     377.0
Columnas con valores nulos: ['23050230']
Archivo: 23050250.csv
        Fecha       Mes   Año  23050250
0  2000-01-01   January  2000      88.0
1  2000-02-01  February  2000     220.0
2  2000-03-01     March  2000     371.0
3  2000-04-01     April  2000     505.0
4  2000-05-01       May  2000     466.0
Columnas con valores nulos: ['23050250']
Archivo: 23055040.csv
        Fecha       Mes   Año  23055040
0  2000-01-01   January  2000     491.5
1  2000-02-01  February  2000     698.5
2  2000-03-01     March  2000    1034.8
3  2000-04-01     April  2000     780.6
4  2000-05-01       May  2000     684.9
Columnas con valores nulos: ['23055040']
Archivo: 23055070.csv
        Fecha       Mes   Año  23055070
0  2000-01-01   January  2000     410.8
1  2000-02-01  February  2000     545.4
2  2000-03-01     March  2000     615.9
3  2000-04-01     April  2000     491.3
4  2000-05-01       May  2000     557.3
Columnas con valores nulos: ['23055070']
Archivo: 23060110.csv
        Fecha       Mes   Año  23060110
0  2000-01-01   January  2000       NaN
1  2000-02-01  February  2000       NaN
2  2000-03-01     March  2000       NaN
3  2000-04-01     April  2000     140.0
4  2000-05-01       May  2000     158.2
Columnas con valores nulos: ['23060110']
Archivo: 23060140.csv
        Fecha       Mes   Año  23060140
0  2000-01-01   January  2000      37.0
1  2000-02-01  February  2000     220.2
2  2000-03-01     March  2000     172.4
3  2000-04-01     April  2000     137.7
4  2000-05-01       May  2000     124.5
Columnas con valores nulos: ['23060140']
Archivo: 23060150.csv
        Fecha       Mes   Año  23060150
0  2000-01-01   January  2000      22.9
1  2000-02-01  February  2000     177.9
2  2000-03-01     March  2000     339.9
3  2000-04-01     April  2000     170.5
4  2000-05-01       May  2000     362.3
Columnas con valores nulos: ['23060150']
Archivo: 23060160.csv
        Fecha       Mes   Año  23060160
0  2000-01-01   January  2000      72.2
1  2000-02-01  February  2000     168.5
2  2000-03-01     March  2000     162.7
3  2000-04-01     April  2000     285.6
4  2000-05-01       May  2000     363.0
Columnas con valores nulos: ['23060160']
Archivo: 23060170.csv
        Fecha       Mes   Año  23060170
0  2000-01-01   January  2000       NaN
1  2000-02-01  February  2000     280.6
2  2000-03-01     March  2000     130.2
3  2000-04-01     April  2000     253.9
4  2000-05-01       May  2000     283.9
Columnas con valores nulos: ['23060170']
Archivo: 23060180.csv
        Fecha       Mes   Año  23060180
0  2000-01-01   January  2000      35.9
1  2000-02-01  February  2000     218.8
2  2000-03-01     March  2000     340.4
3  2000-04-01     April  2000     277.9
4  2000-05-01       May  2000     260.9
Columnas con valores nulos: ['23060180']
Archivo: 23060190.csv
        Fecha       Mes   Año  23060190
0  2000-01-01   January  2000       NaN
1  2000-02-01  February  2000       NaN
2  2000-03-01     March  2000     133.5
3  2000-04-01     April  2000      88.2
4  2000-05-01       May  2000     101.2
Columnas con valores nulos: ['23060190']
Archivo: 23060200.csv
        Fecha       Mes   Año  23060200
0  2000-01-01   January  2000     175.9
1  2000-02-01  February  2000     327.8
2  2000-03-01     March  2000     239.4
3  2000-04-01     April  2000     125.8
4  2000-05-01       May  2000     100.8
Columnas con valores nulos: ['23060200']
Archivo: 23060260.csv
        Fecha       Mes   Año  23060260
0  2000-01-01   January  2000     104.4
1  2000-02-01  February  2000     228.5
2  2000-03-01     March  2000     218.4
3  2000-04-01     April  2000     228.0
4  2000-05-01       May  2000     165.7
Columnas con valores nulos: ['23060260']
Archivo: 23060290.csv
        Fecha       Mes   Año  23060290
0  2000-01-01   January  2000     174.7
1  2000-02-01  February  2000     221.7
2  2000-03-01     March  2000     355.3
3  2000-04-01     April  2000     244.8
4  2000-05-01       May  2000     179.1
Columnas con valores nulos: []
Archivo: 23060370.csv
        Fecha       Mes   Año  23060370
0  2000-01-01   January  2000       NaN
1  2000-02-01  February  2000       NaN
2  2000-03-01     March  2000       NaN
3  2000-04-01     April  2000       NaN
4  2000-05-01       May  2000       NaN
Columnas con valores nulos: ['23060370']
Archivo: 23065120.csv
        Fecha       Mes   Año  23065120
0  2000-01-01   January  2000      91.1
1  2000-02-01  February  2000     170.8
2  2000-03-01     March  2000     238.7
3  2000-04-01     April  2000      78.2
4  2000-05-01       May  2000     148.8
Columnas con valores nulos: ['23065120']
Archivo: 23070010.csv
        Fecha       Mes   Año  23070010
0  2000-01-01   January  2000      47.0
1  2000-02-01  February  2000     133.8
2  2000-03-01     March  2000     161.0
3  2000-04-01     April  2000     282.0
4  2000-05-01       May  2000     249.0
Columnas con valores nulos: ['23070010']
Archivo: 23070020.csv
        Fecha       Mes   Año  23070020
0  2000-01-01   January  2000      77.2
1  2000-02-01  February  2000     265.1
2  2000-03-01     March  2000     217.0
3  2000-04-01     April  2000     508.5
4  2000-05-01       May  2000     408.9
Columnas con valores nulos: []
Archivo: 23080390.csv
        Fecha       Mes   Año  23080390
0  2000-01-01   January  2000     117.0
1  2000-02-01  February  2000       NaN
2  2000-03-01     March  2000     198.0
3  2000-04-01     April  2000     390.6
4  2000-05-01       May  2000     404.0
Columnas con valores nulos: ['23080390']
Archivo: 23080640.csv
        Fecha       Mes   Año  23080640
0  2000-01-01   January  2000      62.0
1  2000-02-01  February  2000     180.0
2  2000-03-01     March  2000     151.0
3  2000-04-01     April  2000     149.0
4  2000-05-01       May  2000     255.0
Columnas con valores nulos: []
Archivo: 23080650.csv
        Fecha       Mes   Año  23080650
0  2000-01-01   January  2000      86.0
1  2000-02-01  February  2000     166.0
2  2000-03-01     March  2000     182.0
3  2000-04-01     April  2000     321.0
4  2000-05-01       May  2000     527.0
Columnas con valores nulos: []
Archivo: 23080720.csv
        Fecha       Mes   Año  23080720
0  2000-01-01   January  2000      51.8
1  2000-02-01  February  2000     120.2
2  2000-03-01     March  2000     223.9
3  2000-04-01     April  2000     220.7
4  2000-05-01       May  2000     362.9
Columnas con valores nulos: ['23080720']
Archivo: 23080740.csv
        Fecha       Mes   Año  23080740
0  2000-01-01   January  2000     133.0
1  2000-02-01  February  2000     132.0
2  2000-03-01     March  2000     220.0
3  2000-04-01     April  2000     237.0
4  2000-05-01       May  2000     398.0
Columnas con valores nulos: []
Archivo: 23080750.csv
        Fecha       Mes   Año  23080750
0  2000-01-01   January  2000     206.0
1  2000-02-01  February  2000     228.0
2  2000-03-01     March  2000     434.0
3  2000-04-01     April  2000     524.0
4  2000-05-01       May  2000     600.0
Columnas con valores nulos: ['23080750']
Archivo: 23080760.csv
        Fecha       Mes   Año  23080760
0  2000-01-01   January  2000      82.0
1  2000-02-01  February  2000     169.0
2  2000-03-01     March  2000     186.0
3  2000-04-01     April  2000     275.5
4  2000-05-01       May  2000     504.0
Columnas con valores nulos: []
Archivo: 23080810.csv
        Fecha       Mes   Año  23080810
0  2000-01-01   January  2000     110.0
1  2000-02-01  February  2000     105.0
2  2000-03-01     March  2000     188.0
3  2000-04-01     April  2000       NaN
4  2000-05-01       May  2000     438.0
Columnas con valores nulos: ['23080810']
Archivo: 23080820.csv
        Fecha       Mes   Año  23080820
0  2000-01-01   January  2000      81.0
1  2000-02-01  February  2000     198.0
2  2000-03-01     March  2000     560.0
3  2000-04-01     April  2000     424.0
4  2000-05-01       May  2000     623.0
Columnas con valores nulos: ['23080820']
Archivo: 23080920.csv
        Fecha       Mes   Año  23080920
0  2000-01-01   January  2000      62.4
1  2000-02-01  February  2000     139.7
2  2000-03-01     March  2000     182.6
3  2000-04-01     April  2000     201.4
4  2000-05-01       May  2000     303.9
Columnas con valores nulos: []
Archivo: 23080940.csv
        Fecha       Mes   Año  23080940
0  2000-01-01   January  2000       NaN
1  2000-02-01  February  2000       NaN
2  2000-03-01     March  2000       NaN
3  2000-04-01     April  2000     272.0
4  2000-05-01       May  2000     419.1
Columnas con valores nulos: ['23080940']
Archivo: 23085030.csv
        Fecha       Mes   Año  23085030
0  2000-01-01   January  2000     108.6
1  2000-02-01  February  2000     184.8
2  2000-03-01     March  2000     264.6
3  2000-04-01     April  2000     421.1
4  2000-05-01       May  2000     647.6
Columnas con valores nulos: []
Archivo: 23085080.csv
        Fecha       Mes   Año  23085080
0  2000-01-01   January  2000      34.8
1  2000-02-01  February  2000      84.9
2  2000-03-01     March  2000      87.9
3  2000-04-01     April  2000     197.5
4  2000-05-01       May  2000     399.9
Columnas con valores nulos: ['23085080']
Archivo: 23085110.csv
        Fecha       Mes   Año  23085110
0  2000-01-01   January  2000      87.4
1  2000-02-01  February  2000     156.7
2  2000-03-01     March  2000     255.5
3  2000-04-01     April  2000     243.3
4  2000-05-01       May  2000     325.5
Columnas con valores nulos: ['23085110']
Archivo: 23085140.csv
        Fecha       Mes   Año  23085140
0  2000-01-01   January  2000     201.0
1  2000-02-01  February  2000     356.0
2  2000-03-01     March  2000     388.0
3  2000-04-01     April  2000     403.0
4  2000-05-01       May  2000     564.0
Columnas con valores nulos: []
Archivo: 23085160.csv
        Fecha       Mes   Año  23085160
0  2000-01-01   January  2000     106.0
1  2000-02-01  February  2000     209.0
2  2000-03-01     March  2000     218.7
3  2000-04-01     April  2000     347.0
4  2000-05-01       May  2000     407.3
Columnas con valores nulos: []
Archivo: 23085220.csv
        Fecha       Mes   Año  23085220
0  2000-01-01   January  2000     118.6
1  2000-02-01  February  2000     262.3
2  2000-03-01     March  2000     280.1
3  2000-04-01     April  2000     346.5
4  2000-05-01       May  2000     485.6
Columnas con valores nulos: ['23085220']
Archivo: 23085270.csv
        Fecha       Mes   Año  23085270
0  2000-01-01   January  2000     108.3
1  2000-02-01  February  2000     144.8
2  2000-03-01     March  2000     119.6
3  2000-04-01     April  2000     140.9
4  2000-05-01       May  2000     262.6
Columnas con valores nulos: []
Archivo: 23090020.csv
        Fecha       Mes   Año  23090020
0  2000-01-01   January  2000      31.0
1  2000-02-01  February  2000       NaN
2  2000-03-01     March  2000     166.0
3  2000-04-01     April  2000     242.0
4  2000-05-01       May  2000     336.0
Columnas con valores nulos: ['23090020']
Archivo: 23090110.csv
        Fecha       Mes   Año  23090110
0  2000-01-01   January  2000      80.0
1  2000-02-01  February  2000       5.0
2  2000-03-01     March  2000     125.0
3  2000-04-01     April  2000     233.0
4  2000-05-01       May  2000     605.0
Columnas con valores nulos: ['23090110']
Archivo: 23100030.csv
        Fecha       Mes   Año  23100030
0  2000-01-01   January  2000      74.0
1  2000-02-01  February  2000     123.0
2  2000-03-01     March  2000      81.0
3  2000-04-01     April  2000     179.0
4  2000-05-01       May  2000     278.0
Columnas con valores nulos: []
Archivo: 23100040.csv
        Fecha       Mes   Año  23100040
0  2000-01-01   January  2000      49.2
1  2000-02-01  February  2000      61.7
2  2000-03-01     March  2000      78.7
3  2000-04-01     April  2000     212.1
4  2000-05-01       May  2000     414.2
Columnas con valores nulos: ['23100040']
Archivo: 23100050.csv
        Fecha       Mes   Año  23100050
0  2000-01-01   January  2000      30.0
1  2000-02-01  February  2000      81.0
2  2000-03-01     March  2000     154.0
3  2000-04-01     April  2000     184.9
4  2000-05-01       May  2000     375.0
Columnas con valores nulos: []
Archivo: 23100070.csv
        Fecha       Mes   Año  23100070
0  2000-01-01   January  2000      79.0
1  2000-02-01  February  2000      70.0
2  2000-03-01     March  2000     161.0
3  2000-04-01     April  2000     191.0
4  2000-05-01       May  2000     408.0
Columnas con valores nulos: ['23100070']
Archivo: 23105030.csv
        Fecha       Mes   Año  23105030
0  2000-01-01   January  2000      48.3
1  2000-02-01  February  2000     147.8
2  2000-03-01     March  2000      93.3
3  2000-04-01     April  2000     189.6
4  2000-05-01       May  2000     213.1
Columnas con valores nulos: ['23105030']
Archivo: 23110030.csv
        Fecha       Mes   Año  23110030
0  2000-01-01   January  2000      44.9
1  2000-02-01  February  2000     175.9
2  2000-03-01     March  2000     177.6
3  2000-04-01     April  2000     204.7
4  2000-05-01       May  2000     370.4
Columnas con valores nulos: ['23110030']
Archivo: 23110040.csv
        Fecha       Mes   Año  23110040
0  2000-01-01   January  2000      68.0
1  2000-02-01  February  2000     261.0
2  2000-03-01     March  2000     185.0
3  2000-04-01     April  2000     252.0
4  2000-05-01       May  2000       NaN
Columnas con valores nulos: ['23110040']
Archivo: 23110060.csv
        Fecha       Mes   Año  23110060
0  2000-01-01   January  2000      37.0
1  2000-02-01  February  2000     186.0
2  2000-03-01     March  2000     302.0
3  2000-04-01     April  2000     398.0
4  2000-05-01       May  2000     502.0
Columnas con valores nulos: ['23110060']
Archivo: 23115010.csv
        Fecha       Mes   Año  23115010
0  2000-01-01   January  2000      36.2
1  2000-02-01  February  2000     163.8
2  2000-03-01     March  2000     192.4
3  2000-04-01     April  2000     247.1
4  2000-05-01       May  2000     429.3
Columnas con valores nulos: ['23115010']
Archivo: 23120010.csv
        Fecha       Mes   Año  23120010
0  2000-01-01   January  2000      94.0
1  2000-02-01  February  2000     519.0
2  2000-03-01     March  2000     253.0
3  2000-04-01     April  2000     435.0
4  2000-05-01       May  2000     568.0
Columnas con valores nulos: ['23120010']
Archivo: 23120050.csv
        Fecha       Mes   Año  23120050
0  2000-01-01   January  2000      47.5
1  2000-02-01  February  2000     145.7
2  2000-03-01     March  2000     185.2
3  2000-04-01     April  2000     251.6
4  2000-05-01       May  2000     203.8
Columnas con valores nulos: ['23120050']
Archivo: 23120200.csv
        Fecha       Mes   Año  23120200
0  2000-01-01   January  2000      40.0
1  2000-02-01  February  2000     149.0
2  2000-03-01     March  2000     187.0
3  2000-04-01     April  2000     384.0
4  2000-05-01       May  2000     593.0
Columnas con valores nulos: []
Archivo: 23120210.csv
        Fecha       Mes   Año  23120210
0  2000-01-01   January  2000     171.4
1  2000-02-01  February  2000     376.3
2  2000-03-01     March  2000     301.6
3  2000-04-01     April  2000     336.5
4  2000-05-01       May  2000     186.9
Columnas con valores nulos: []
Archivo: 23120220.csv
        Fecha       Mes   Año  23120220
0  2000-01-01   January  2000      38.3
1  2000-02-01  February  2000     111.7
2  2000-03-01     March  2000     197.0
3  2000-04-01     April  2000     137.2
4  2000-05-01       May  2000     280.4
Columnas con valores nulos: ['23120220']
Archivo: 23120240.csv
        Fecha       Mes   Año  23120240
0  2000-01-01   January  2000     194.7
1  2000-02-01  February  2000     306.7
2  2000-03-01     March  2000     365.9
3  2000-04-01     April  2000     353.4
4  2000-05-01       May  2000     220.1
Columnas con valores nulos: ['23120240']
Archivo: 23120250.csv
        Fecha       Mes   Año  23120250
0  2000-01-01   January  2000      40.4
1  2000-02-01  February  2000      98.7
2  2000-03-01     March  2000     110.2
3  2000-04-01     April  2000     166.0
4  2000-05-01       May  2000     141.6
Columnas con valores nulos: ['23120250']
Archivo: 23125040.csv
        Fecha       Mes   Año  23125040
0  2000-01-01   January  2000      56.2
1  2000-02-01  February  2000     190.7
2  2000-03-01     March  2000     229.2
3  2000-04-01     April  2000     222.5
4  2000-05-01       May  2000     212.0
Columnas con valores nulos: ['23125040']
Archivo: 23125050.csv
        Fecha       Mes   Año  23125050
0  2000-01-01   January  2000     113.6
1  2000-02-01  February  2000      74.2
2  2000-03-01     March  2000     132.4
3  2000-04-01     April  2000     381.1
4  2000-05-01       May  2000     568.1
Columnas con valores nulos: ['23125050']
Archivo: 23125060.csv
        Fecha       Mes   Año  23125060
0  2000-01-01   January  2000     121.3
1  2000-02-01  February  2000     234.0
2  2000-03-01     March  2000     273.7
3  2000-04-01     April  2000     306.0
4  2000-05-01       May  2000     240.1
Columnas con valores nulos: ['23125060']
Archivo: 23125080.csv
        Fecha       Mes   Año  23125080
0  2000-01-01   January  2000     171.2